@charset 'UTF-8';

body{
    background-image: linear-gradient(to right, #BF4226, #bf3c30cb, #BF4226);
    

}
main{
    width: 700px;
    background-color: white;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 1px 1px 10px 2px black ;
    margin: auto;
    
}
h1{
    font-family: serif;
    text-align: center;
    color: #BF3C30;
    text-shadow: 1px 1px 2px black;
}
h2{
    color: #d6aca3;
    text-shadow: 1px 1px 2px black;

}
p{
    font-family: Arial, Helvetica, sans-serif;
    text-align: justify;
}