@charset 'UTF-8';


*{  
    font-family: Arial, Helvetica, sans-serif;
    
}

body{
    background-image: linear-gradient(to right, #027373, #04BFAD);
}
main{
    background-color: white;
    border-radius: 8px;
    box-shadow: 3px 2px 10px 4px #014242d8;
    width: 700px;
    padding: 15px;
    margin: auto;
    
}
h1{
    text-align: center;
    color: #027373;
    text-shadow: 1px 1px 3px #172026;
}
h2{
    color: #5FCDD9;
    text-shadow: 1px 1px 1px black;
}
p{
    text-align: justify;
}